{% extends 'base_nologin.html' %}
{% block content %}
    <div class="loginmodal-container">
        {% if form.errors %}
            <p> Your username and password didn't match. Please try again.</p>
        {% endif %}
        <h1>Login to Your Account</h1><br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <input type="submit" name="login" class="login loginmodal-submit" value="login">
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
                
{% endblock %}    