{% extends 'base_nologin.html' %}
{% block content %}

<div class="register-form">
        <form action="{% url 'doRegister' %}" method="post">
            {% csrf_token %}
            <h2 class="text-center">Make an Account</h2>   
            {% if message %}
            <p style="color:red;"> {{ message }}</p>
            {% endif %}    
            <div class="form-group">
                <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" id="id_password1" name="password1" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" id="id_password2" name="password2" class="form-control" placeholder="Re-Enter Password" required="required">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" name="Create Account"></input>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>    
        </form>
    </div>
{% endblock %}