<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eat-List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=latin-ext"
          type="text/css">
    <link rel="stylesheet" href="{% static 'ColumbiaApp/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">

</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a href="{% url 'home' %}">
        <img class="navbar-brand" src="/static/ColumbiaApp/img/logo.jpg" height="70px" width="80px"></img>
        </a>
        <a class="navbar-brand" style="font-family: 'Baskerville Old Face';font-size: 40px;font-weight: bolder" href="{% url 'home' %}">Eat-List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="padding-right:50px;color:white;" href="{% url 'restaurant_map' %}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-right:50px;color:white;" href="{% url 'fav_list' %}">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-right:50px;color:white;" href="{% url 'user_profile' %}">{{ user|title|safe }}'s Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="py-5 bg-image-full" style="background-image: url('/static/ColumbiaApp/img/bg.jpg');filter: brightness(110%);">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div style="height: 100px;"></div>

</section>
  <footer class="py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Columbia 2020.<br> Created by
            Sidharth Bambah, Jeswanth Yadagani, Ujwal Dinesh & Asit Sahoo.
        </p>
    </div>
    <!-- /.container -->
  </footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'ColumbiaApp/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'ColumbiaApp/js/add_to_fav.js' %}"></script>
<script type="text/javascript" src="{% static 'ColumbiaApp/js/bootstrap-notify.min.js' %}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwYc89wJD1xacH4R_wBhi3NVl_Sc4ZlIs&libraries=places"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>