{% extends 'base_login.html' %}
{% block content %}
    Hi {{ user }}. These are your fav restaurants.
    <table>
            <tr>
                <td>Restaurent Name</td>
                <td>Cusine Type</td>
                <td>Remove TODO</td>
            </tr>
        {% for ele in fav_restaurants %}
            <tr>
                <td>{{ele.name}}</td>
                <td>{{ele.cusine}}</td>
                <td><form action="{% url 'remove_from_fav' %}" method="get"><input type="submit" value="Remove"></form></td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}