{% extends 'base_login.html' %}
{% block content %}
    <h1 style="text-align: center;">{{user|title}}'s Favorite Restaurants</h1>
    <p style="text-align: center;padding-bottom:30px;" class="lead">Add your favorite restaurants from the <a href="{% url 'restaurant_map' %}">map</a> and check them out here.</p>
    <div class="container-fluid" style="width:90%;">
    <table class="table table-hover table-striped">
        <thead class="thead-dark text-center">
            <tr>
                <th>Restaurant Name</th>
                <th>Cuisine Type</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody class="text-center">
        {% for ele in fav_restaurants %}
            <tr>
                <td><a href="https://www.google.com/maps/place/?q=place_id:{{ele.url}}" target="_blank">{{ele.name}}</a></td>
                <td>{{ele.cuisine}}</td>
                <td><a class="btn-sm btn-secondary" href="{% url 'remove_from_fav' %}?res_to_remove={{ ele.name }}">X</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}