{% extends 'base_nologin.html' %}
{% block content %}
    Hi {{ user }}. You've successfully logged in.
    <div class="parent">
        <div class="absolute">
            <input id="location-searchbox" type="text" placeholder="My Location" autocomplete="on">
            <input id="cuisine-searchbox" type="text" placeholder="Cuisine Type">
            <input id="submit-search" type="submit" placeholder="Find Restaurants">
        </div>
        <div id="map"></div>
    </div>
    
{% endblock %}