{% extends 'base_login.html' %}
{% block content %}
    <form action="{% url 'user_profile_update' %}" method="get">
        Username : {{ user }} <br>
        Password : ***** <br>
        Last Name : <input type="text" name="last_name" placeholder="{{ last_name }}"/> <br>
        First Name : <input type="text" name="first_name" placeholder="{{ first_name }}"/> <br>
        E-mail : <input type="text" name="email" placeholder="{{ email }}"/> <br>
        <input type="submit" value="Update">
    </form>
{% endblock %}